In [1]:
import os, sys
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')
import warnings
warnings.filterwarnings('ignore')

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.go_offline()
from pandas_profiling import ProfileReport

from sklearn.model_selection import train_test_split
from sklearn.utils.class_weight import compute_class_weight
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder,StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, ModelCheckpoint, LearningRateScheduler
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.feature_selection import RFE

from numpy import set_printoptions
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, KFold

from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB

# 3. Tiền xử lí dữ liệu

In [2]:
exps_dir = "../../exps"
if os.path.exists(exps_dir) == False: # tạo thư mục (nếu chưa có)
  os.makedirs(exps_dir, exist_ok=True)

save_dir = f"{exps_dir}/feature1"
os.makedirs(save_dir, exist_ok=True)
test_size=0.33
seed=42

In [3]:
test_size=0.33
seed=42
data=pd.read_excel(f'{exps_dir}/data/data_EDA.xlsx')
data

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Saab,92x,2000-2010,Y,17,10,2014,25,1,2015
1,Y,Middle,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,...,Mercedes,E400,2000-2010,Y,27,6,2006,21,1,2015
2,Y,Young,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,...,Dodge,RAM,2000-2010,N,6,9,2000,22,2,2015
3,Y,Middle,IL,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,...,Chevrolet,Tahoe,2010++,Y,25,5,1990,10,1,2015
4,Y,Middle,IL,500/1000,1000,1583.91,6000000,MALE,Associate,sales,...,Accura,RSX,2010++,N,6,6,2014,17,2,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,N,Middle,OH,500/1000,1000,1310.80,0,FEMALE,Masters,craft-repair,...,Honda,Accord,2000-2010,N,16,7,1991,22,2,2015
996,Y,Middle,IL,100/300,1000,1436.79,0,FEMALE,PhD,prof-specialty,...,Volkswagen,Passat,2010++,N,5,1,2014,24,1,2015
997,Y,Young,OH,250/500,500,1383.49,3000000,FEMALE,Masters,armed-forces,...,Suburu,Impreza,1995-20001,N,17,2,2003,23,1,2015
998,Y,Old,IL,500/1000,2000,1356.92,5000000,MALE,Associate,handlers-cleaners,...,Audi,A5,1995-20001,N,18,11,2011,26,2,2015
999,Y,Old,OH,250/500,1000,766.19,0,FEMALE,Associate,sales,...,Mercedes,E400,2000-2010,N,11,11,1996,26,2,2015

In [4]:
data_train, data_test = train_test_split(data, test_size = 0.33, random_state=seed)
print(data_train.shape,data_test.shape)
data_train.to_excel(f'{exps_dir}/data/datatrain.xlsx', index=None)
data_test.to_excel(f'{exps_dir}/data/datatest.xlsx', index=None)

(670, 40) (330, 40)

In [5]:
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
703,Y,Middle,IL,250/500,1000,817.28,0,MALE,High School,sales,...,Mercedes,ML350,2010++,Y,21,6,1994,3,1,2015
311,N,Young,IN,100/300,2000,765.64,0,MALE,MD,sales,...,Honda,Accord,1995-20001,Y,11,6,2008,16,2,2015
722,Y,Middle,OH,100/300,2000,1422.21,0,FEMALE,Associate,handlers-cleaners,...,Suburu,Forrestor,2000-2010,Y,29,7,1996,16,1,2015
629,Y,Middle,IL,100/300,2000,1133.27,0,FEMALE,High School,craft-repair,...,Ford,F150,1995-20001,Y,28,5,2014,1,3,2015
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Saab,92x,2000-2010,Y,17,10,2014,25,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Y,Old,OH,500/1000,1000,1125.37,0,FEMALE,Associate,prof-specialty,...,Saab,95,1995-20001,Y,7,10,1990,13,1,2015
270,Y,Old,OH,250/500,2000,1589.54,0,MALE,College,handlers-cleaners,...,Toyota,Highlander,2000-2010,N,15,4,2013,27,1,2015
860,Y,Middle,IN,100/300,1000,1023.11,0,FEMALE,MD,adm-clerical,...,Accura,MDX,1995-20001,N,16,11,2004,6,2,2015
435,N,Young,OH,250/500,500,1075.41,0,MALE,MD,machine-op-inspct,...,Dodge,Neon,1995-20001,N,29,8,1999,15,2,2015
102,Y,Middle,IL,250/500,500,1497.35,0,FEMALE,JD,prof-specialty,...,Ford,Fusion,2010++,N,6,6,2001,29,1,2015

In [6]:
numeric_columns=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['numeric_columns']
numeric_columns

array(['policy_annual_premium', 'capital-gains', 'capital-loss',
       'total_claim_amount', 'injury_claim', 'property_claim',
       'vehicle_claim', 'day_policy_bind_date', 'month_policy_bind_date',
       'year_policy_bind_date', 'day_incident_date',
       'month_incident_date', 'year_incident_date'], dtype='<U22')

In [7]:
category_columns=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['category_columns']
category_columns

array(['months_as_customer', 'age', 'policy_state', 'policy_csl',
       'policy_deductable', 'umbrella_limit', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage',
       'bodily_injuries', 'witnesses', 'police_report_available',
       'auto_make', 'auto_model', 'auto_year', 'fraud_reported'],
      dtype='<U27')

In [8]:
outliers_list=dict(np.load(f'{exps_dir}/data/outliers.npz'))['outliers']
def remove_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]

# Áp dụng hàm cho các cột chứa dữ liệu cần loại bỏ ngoại lệ
for column in outliers_list:
    data_train = remove_outliers_iqr(data_train, column)
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
703,Y,Middle,IL,250/500,1000,817.28,0,MALE,High School,sales,...,Mercedes,ML350,2010++,Y,21,6,1994,3,1,2015
311,N,Young,IN,100/300,2000,765.64,0,MALE,MD,sales,...,Honda,Accord,1995-20001,Y,11,6,2008,16,2,2015
722,Y,Middle,OH,100/300,2000,1422.21,0,FEMALE,Associate,handlers-cleaners,...,Suburu,Forrestor,2000-2010,Y,29,7,1996,16,1,2015
629,Y,Middle,IL,100/300,2000,1133.27,0,FEMALE,High School,craft-repair,...,Ford,F150,1995-20001,Y,28,5,2014,1,3,2015
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Saab,92x,2000-2010,Y,17,10,2014,25,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Y,Old,OH,500/1000,1000,1125.37,0,FEMALE,Associate,prof-specialty,...,Saab,95,1995-20001,Y,7,10,1990,13,1,2015
270,Y,Old,OH,250/500,2000,1589.54,0,MALE,College,handlers-cleaners,...,Toyota,Highlander,2000-2010,N,15,4,2013,27,1,2015
860,Y,Middle,IN,100/300,1000,1023.11,0,FEMALE,MD,adm-clerical,...,Accura,MDX,1995-20001,N,16,11,2004,6,2,2015
435,N,Young,OH,250/500,500,1075.41,0,MALE,MD,machine-op-inspct,...,Dodge,Neon,1995-20001,N,29,8,1999,15,2,2015
102,Y,Middle,IL,250/500,500,1497.35,0,FEMALE,JD,prof-specialty,...,Ford,Fusion,2010++,N,6,6,2001,29,1,2015

In [9]:
(data_train=='?').sum()

months_as_customer               0
age                              0
policy_state                     0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_type                    0
collision_type                 112
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                235
bodily_injuries                  0
witnesses                        0
police_report_available        207
total_claim_amount               0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
day_policy_bind_date             0
month_policy_bind_date           0
year_policy_bind_date            0
day_incident_date                0
month_incident_date              0
year_incident_date               0
dtype: int64

In [10]:
data_train['collision_type']=data_train['collision_type'].replace('?',np.nan)
data_train['collision_type'].fillna(method='ffill',inplace=True)
data_train[['property_damage','police_report_available']]=data_train[['property_damage','police_report_available']].replace('?','Unknow')
(data_train=='?').sum()

months_as_customer             0
age                            0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
day_policy_bind_date           0
month_policy_bind_date         0
year_policy_bind_date          0
day_incident_date              0
month_incident_date            0
year_incident_date             0
dtype: int64

# 4.Chuẩn hóa dữ liệu

In [11]:
label_encoders = {}
for column in category_columns:
    label_encoder = LabelEncoder()
    data_train[column] = label_encoder.fit_transform(data_train[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = MinMaxScaler()
data_train[numeric_columns] = scaler.fit_transform(data_train[numeric_columns])
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,auto_make,auto_model,auto_year,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date
703,2,0,0,1,1,0.156407,0,1,2,11,...,8,24,2,1,0.666667,0.454545,0.166667,0.066667,0.0,0.0
311,0,2,1,0,2,0.116057,0,1,4,11,...,6,6,0,1,0.333333,0.454545,0.750000,0.500000,0.5,0.0
722,2,0,2,0,2,0.629083,0,0,0,5,...,11,15,1,1,0.933333,0.545455,0.250000,0.500000,0.0,0.0
629,2,0,0,0,2,0.403313,0,0,2,2,...,5,14,0,1,0.900000,0.363636,1.000000,0.000000,1.0,0.0
0,2,0,2,1,1,0.617128,0,1,4,2,...,10,1,1,1,0.533333,0.818182,1.000000,0.800000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2,1,2,2,1,0.397140,0,0,0,9,...,10,3,0,1,0.200000,0.818182,0.000000,0.400000,0.0,0.0
270,2,1,2,1,2,0.759830,0,1,1,5,...,12,18,1,0,0.466667,0.272727,0.958333,0.866667,0.0,0.0
860,2,0,1,0,1,0.317237,0,0,4,0,...,0,23,0,0,0.500000,0.909091,0.583333,0.166667,0.5,0.0
435,0,2,2,1,0,0.358103,0,1,4,6,...,4,27,0,0,0.933333,0.636364,0.375000,0.466667,0.5,0.0
102,2,0,0,1,0,0.687795,0,0,3,9,...,5,16,2,0,0.166667,0.454545,0.458333,0.933333,0.0,0.0

In [12]:
x_train=data_train.drop('fraud_reported',axis=1)
y_train=data_train['fraud_reported']

In [13]:
from imblearn.over_sampling import SMOTE
x_train, y_train = SMOTE().fit_resample(x_train, y_train)
x_train.to_excel(f'{save_dir}/x_train.xlsx', index=False)
y_train.to_excel(f'{save_dir}/y_train.xlsx', index=False)

In [14]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights_dict = {i : class_weights[i] for i in range(len(class_weights))}
np.savez(f'{save_dir}/class_weights_dict.npz', class_weights_dict = class_weights_dict)
class_weights_dict

{0: 1.0, 1: 1.0}

In [15]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
print(f"+ X_train: {len(x_train)}")
for fold, (train_idx, valid_idx) in enumerate(kfold.split(x_train, y_train)):
    print(f'Fold {fold}: ')
    print(f'+ train_idx: {train_idx}')
    print(f'+ valid_idx: {valid_idx}')
    print(f'+ train / valid: {valid_idx}')
    pass

+ X_train: 1002
Fold 0:
+ train_idx: [   0    1    2    3    4    5    6    7    8    9   11   12   13   14
   15   16   17   18   19   20   21   22   24   26   27   28   31   32
   33   34   35   36   37   38   40   41   42   43   45   46   47   48
   49   50   51   52   53   56   57   58   61   62   64   65   68   69
   71   73   74   75   77   79   80   81   82   83   84   85   87   89
   90   91   92   93   94   95   97   98   99  100  102  103  104  105
  106  108  109  111  112  113  114  115  116  117  118  119  121  122
  123  124  125  126  127  128  129  130  131  132  133  134  135  138
  140  141  142  143  144  145  146  147  148  149  150  151  152  153
  154  155  156  157  159  160  161  162  163  164  165  166  167  169
  170  171  172  173  175  176  177  178  179  180  181  182  183  185
  186  187  188  189  190  191  192  193  194  195  196  197  200  201
  202  203  204  205  206  207  211  212  214  216  217  219  220  222
  223  224  225  226  227  228  229  230  231  232  233  234  236  238
  239  240  241  242  243  245  246  248  249  250  251  252  253  255
  257  258  262  263  264  266  267  268  269  270  271  272  273  274
  276  278  279  282  283  284  285  286  287  288  290  291  293  295
  297  300  301  302  303  304  305  306  308  311  313  315  316  317
  320  322  323  324  325  326  329  330  331  333  334  335  336  337
  338  339  340  341  342  343  344  345  347  348  349  350  352  353
  354  356  357  358  359  360  362  364  366  367  368  369  372  373
  374  375  376  378  379  380  381  383  384  385  386  387  388  389
  390  391  392  393  394  395  396  397  398  399  400  401  402  403
  404  405  406  407  409  410  412  413  414  415  416  417  418  419
  420  421  422  423  424  426  427  428  430  431  433  434  435  437
  438  440  441  442  443  444  446  447  448  449  450  452  453  454
  455  456  457  458  459  460  461  463  464  465  466  467  468  469
  470  471  472  473  474  475  476  477  478  480  481  482  483  484
  485  487  488  489  490  491  492  495  496  497  498  500  501  502
  503  504  505  506  507  508  509  510  511  512  514  515  516  517
  518  519  520  523  524  525  530  531  532  533  535  536  537  538
  539  540  541  544  545  546  547  550  551  552  553  555  556  557
  558  560  561  562  563  564  565  566  567  568  569  570  571  573
  574  575  577  578  579  582  583  584  586  587  588  589  590  592
  593  595  596  598  599  600  604  605  606  607  608  609  610  612
  613  614  616  617  618  619  620  621  622  623  624  627  629  630
  631  632  633  634  635  636  637  639  640  641  642  643  644  645
  646  647  648  649  650  651  654  655  656  657  658  659  660  661
  663  666  667  668  669  671  672  674  675  676  677  678  681  683
  684  685  686  687  688  690  691  695  696  697  698  699  700  701
  702  703  704  705  706  707  708  709  710  711  712  713  714  717
  719  720  721  722  724  725  726  727  728  729  730  731  732  733
  734  735  737  738  741  742  744  745  746  747  748  749  750  752
  753  754  756  757  758  759  760  761  762  763  764  766  767  768
  769  770  771  772  773  775  776  777  778  779  780  781  782  783
  784  785  786  787  788  790  791  792  793  794  795  798  799  801
  804  805  806  808  809  810  811  812  815  816  817  818  819  820
  821  824  825  826  827  829  830  831  832  833  834  835  836  838
  839  840  841  842  843  844  845  846  847  848  849  850  852  853
  855  856  857  858  859  860  861  862  863  865  866  870  871  872
  874  875  876  877  878  880  882  883  884  887  888  889  890  891
  892  893  896  897  899  900  902  903  905  906  907  908  909  910
  911  912  914  915  917  918  919  920  921  922  923  925  927  928
  929  930  931  932  933  934  935  936  937  938  939  941  942  946
  947  948  949  951  952  953  954  955  956  958  959  960  962  963
  964  965  966  967  968  969  970  971  972  973  974  975  977  978
  979  981  982  983  984  985  986  989  990  992  993  994  995  996
  998  999 1001]
+ valid_idx: [  10   23   25   29   30   39   44   54   55   59   60   63   66   67
   70   72   76   78   86   88   96  101  107  110  120  136  137  139
  158  168  174  184  198  199  208  209  210  213  215  218  221  235
  237  244  247  254  256  259  260  261  265  275  277  280  281  289
  292  294  296  298  299  307  309  310  312  314  318  319  321  327
  328  332  346  351  355  361  363  365  370  371  377  382  408  411
  425  429  432  436  439  445  451  462  479  486  493  494  499  513
  521  522  526  527  528  529  534  542  543  548  549  554  559  572
  576  580  581  585  591  594  597  601  602  603  611  615  625  626
  628  638  652  653  662  664  665  670  673  679  680  682  689  692
  693  694  715  716  718  723  736  739  740  743  751  755  765  774
  789  796  797  800  802  803  807  813  814  822  823  828  837  851
  854  864  867  868  869  873  879  881  885  886  894  895  898  901
  904  913  916  924  926  940  943  944  945  950  957  961  976  980
  987  988  991  997 1000]
+ train / valid: [  10   23   25   29   30   39   44   54   55   59   60   63   66   67
   70   72   76   78   86   88   96  101  107  110  120  136  137  139
  158  168  174  184  198  199  208  209  210  213  215  218  221  235
  237  244  247  254  256  259  260  261  265  275  277  280  281  289
  292  294  296  298  299  307  309  310  312  314  318  319  321  327
  328  332  346  351  355  361  363  365  370  371  377  382  408  411
  425  429  432  436  439  445  451  462  479  486  493  494  499  513
  521  522  526  527  528  529  534  542  543  548  549  554  559  572
  576  580  581  585  591  594  597  601  602  603  611  615  625  626
  628  638  652  653  662  664  665  670  673  679  680  682  689  692
  693  694  715  716  718  723  736  739  740  743  751  755  765  774
  789  796  797  800  802  803  807  813  814  822  823  828  837  851
  854  864  867  868  869  873  879  881  885  886  894  895  898  901
  904  913  916  924  926  940  943  944  945  950  957  961  976  980
  987  988  991  997 1000]
Fold 1:
+ train_idx: [   1    4    8   10   11   12   13   14   15   16   17   18   19   20
   21   22   23   25   26   27   29   30   32   34   35   36   37   38
   39   40   42   43   44   45   46   47   48   50   51   52   53   54
   55   57   58   59   60   61   62   63   64   66   67   68   70   71
   72   74   75   76   78   80   83   85   86   87   88   89   91   92
   93   94   95   96   98   99  100  101  102  103  104  105  106  107
  110  111  112  113  114  115  116  117  119  120  121  122  123  124
  126  127  128  129  130  134  136  137  138  139  142  143  146  147
  149  150  151  152  153  154  156  157  158  159  160  161  162  163
  166  167  168  170  171  174  175  176  177  178  179  180  182  183
  184  186  187  188  189  190  191  194  195  197  198  199  200  201
  202  203  205  206  207  208  209  210  213  214  215  216  217  218
  219  221  222  223  224  225  226  229  230  232  233  235  236  237
  240  241  242  243  244  245  246  247  248  251  252  253  254  255
  256  257  258  259  260  261  262  263  264  265  267  268  269  270
  271  272  273  275  276  277  278  279  280  281  282  283  284  285
  287  288  289  292  293  294  295  296  297  298  299  301  303  304
  307  308  309  310  312  313  314  315  317  318  319  320  321  322
  324  325  327  328  329  330  332  335  336  337  338  339  340  341
  343  345  346  347  348  349  351  353  354  355  356  358  360  361
  363  364  365  366  367  368  369  370  371  372  373  374  375  376
  377  378  379  382  383  384  385  386  387  389  390  391  392  393
  395  396  397  399  400  401  402  403  406  407  408  409  410  411
  412  413  414  415  416  417  418  419  421  425  426  427  429  431
  432  433  434  435  436  437  438  439  441  443  444  445  446  447
  451  452  454  455  456  457  458  459  460  461  462  463  466  469
  470  471  472  473  474  475  476  479  480  483  484  486  487  488
  489  491  492  493  494  496  497  498  499  502  503  504  505  507
  508  509  510  511  512  513  515  516  517  518  520  521  522  524
  525  526  527  528  529  531  533  534  537  538  539  540  542  543
  545  546  548  549  550  551  553  554  555  556  558  559  560  561
  562  563  564  565  566  568  569  570  571  572  573  574  576  577
  579  580  581  584  585  586  587  588  591  592  593  594  595  597
  599  600  601  602  603  604  606  607  608  609  610  611  612  613
  614  615  617  618  619  620  622  623  624  625  626  627  628  629
  632  634  636  637  638  639  640  641  642  645  646  647  648  649
  651  652  653  654  655  656  658  659  660  661  662  663  664  665
  667  668  669  670  671  672  673  674  675  676  677  678  679  680
  681  682  683  684  686  687  688  689  690  691  692  693  694  695
  696  698  699  700  701  702  703  704  706  709  711  712  713  714
  715  716  717  718  719  720  721  722  723  724  725  726  727  729
  732  733  735  736  737  738  739  740  741  742  743  744  745  746
  747  748  750  751  752  754  755  756  757  758  760  761  762  763
  764  765  766  767  768  769  770  771  772  773  774  775  776  778
  779  781  782  783  784  786  787  788  789  790  791  792  793  794
  795  796  797  799  800  801  802  803  804  805  806  807  808  809
  810  811  812  813  814  815  816  818  820  821  822  823  824  825
  827  828  830  831  832  833  834  835  836  837  838  839  840  841
  842  843  844  845  847  848  849  850  851  852  854  855  856  857
  859  860  861  862  863  864  865  866  867  868  869  871  873  875
  877  878  879  880  881  882  883  884  885  886  887  889  890  891
  892  894  895  896  897  898  899  900  901  902  904  907  908  910
  911  912  913  914  915  916  917  919  921  922  923  924  926  928
  929  930  932  933  935  938  939  940  942  943  944  945  946  947
  950  952  953  954  955  956  957  958  959  960  961  962  963  964
  966  967  968  969  970  971  972  973  974  975  976  978  979  980
  982  983  984  985  986  987  988  989  990  991  993  994  997  998
  999 1000 1001]
+ valid_idx: [  0   2   3   5   6   7   9  24  28  31  33  41  49  56  65  69  73  77
  79  81  82  84  90  97 108 109 118 125 131 132 133 135 140 141 144 145
 148 155 164 165 169 172 173 181 185 192 193 196 204 211 212 220 227 228
 231 234 238 239 249 250 266 274 286 290 291 300 302 305 306 311 316 323
 326 331 333 334 342 344 350 352 357 359 362 380 381 388 394 398 404 405
 420 422 423 424 428 430 440 442 448 449 450 453 464 465 467 468 477 478
 481 482 485 490 495 500 501 506 514 519 523 530 532 535 536 541 544 547
 552 557 567 575 578 582 583 589 590 596 598 605 616 621 630 631 633 635
 643 644 650 657 666 685 697 705 707 708 710 728 730 731 734 749 753 759
 777 780 785 798 817 819 826 829 846 853 858 870 872 874 876 888 893 903
 905 906 909 918 920 925 927 931 934 936 937 941 948 949 951 965 977 981
 992 995 996]
+ train / valid: [  0   2   3   5   6   7   9  24  28  31  33  41  49  56  65  69  73  77
  79  81  82  84  90  97 108 109 118 125 131 132 133 135 140 141 144 145
 148 155 164 165 169 172 173 181 185 192 193 196 204 211 212 220 227 228
 231 234 238 239 249 250 266 274 286 290 291 300 302 305 306 311 316 323
 326 331 333 334 342 344 350 352 357 359 362 380 381 388 394 398 404 405
 420 422 423 424 428 430 440 442 448 449 450 453 464 465 467 468 477 478
 481 482 485 490 495 500 501 506 514 519 523 530 532 535 536 541 544 547
 552 557 567 575 578 582 583 589 590 596 598 605 616 621 630 631 633 635
 643 644 650 657 666 685 697 705 707 708 710 728 730 731 734 749 753 759
 777 780 785 798 817 819 826 829 846 853 858 870 872 874 876 888 893 903
 905 906 909 918 920 925 927 931 934 936 937 941 948 949 951 965 977 981
 992 995 996]
Fold 2:
+ train_idx: [   0    1    2    3    4    5    6    7    8    9   10   13   14   16
   17   20   21   23   24   25   26   27   28   29   30   31   32   33
   34   35   36   37   39   40   41   44   45   47   48   49   52   53
   54   55   56   58   59   60   62   63   64   65   66   67   69   70
   71   72   73   76   77   78   79   80   81   82   84   85   86   87
   88   90   91   95   96   97   98   99  101  102  103  105  106  107
  108  109  110  111  112  115  118  119  120  121  122  123  125  127
  128  129  130  131  132  133  134  135  136  137  138  139  140  141
  143  144  145  146  147  148  150  151  152  155  156  157  158  159
  160  161  162  164  165  166  168  169  170  171  172  173  174  180
  181  183  184  185  186  187  189  190  191  192  193  194  196  197
  198  199  200  201  202  204  205  206  207  208  209  210  211  212
  213  214  215  216  217  218  219  220  221  224  225  226  227  228
  229  230  231  232  233  234  235  237  238  239  240  241  242  243
  244  246  247  249  250  251  252  253  254  255  256  258  259  260
  261  262  265  266  267  269  270  273  274  275  276  277  279  280
  281  282  283  286  288  289  290  291  292  293  294  295  296  297
  298  299  300  301  302  303  305  306  307  308  309  310  311  312
  313  314  315  316  317  318  319  321  322  323  325  326  327  328
  330  331  332  333  334  337  339  342  343  344  345  346  347  348
  350  351  352  355  357  358  359  361  362  363  364  365  366  370
  371  372  373  374  376  377  378  379  380  381  382  384  385  386
  387  388  389  391  392  394  397  398  400  401  402  403  404  405
  406  408  410  411  413  414  415  418  419  420  421  422  423  424
  425  427  428  429  430  432  435  436  437  438  439  440  441  442
  445  448  449  450  451  452  453  454  455  458  459  460  461  462
  463  464  465  466  467  468  469  471  472  474  475  476  477  478
  479  480  481  482  484  485  486  488  489  490  491  492  493  494
  495  496  498  499  500  501  502  503  504  505  506  508  509  510
  511  513  514  515  517  519  520  521  522  523  524  526  527  528
  529  530  532  534  535  536  540  541  542  543  544  546  547  548
  549  550  552  553  554  555  556  557  559  560  561  562  563  564
  565  566  567  571  572  573  574  575  576  577  578  579  580  581
  582  583  585  586  589  590  591  592  594  596  597  598  600  601
  602  603  605  606  607  608  609  610  611  612  614  615  616  618
  619  621  623  624  625  626  627  628  630  631  632  633  635  637
  638  639  640  641  642  643  644  645  646  647  648  650  651  652
  653  654  656  657  658  659  661  662  663  664  665  666  670  671
  672  673  674  676  679  680  681  682  683  685  686  687  688  689
  690  691  692  693  694  697  698  699  700  701  702  704  705  706
  707  708  709  710  711  713  714  715  716  718  719  720  721  722
  723  724  725  726  727  728  729  730  731  733  734  735  736  737
  738  739  740  741  742  743  744  746  747  748  749  751  752  753
  754  755  757  759  761  762  763  764  765  766  767  768  769  770
  771  772  774  775  776  777  778  779  780  782  784  785  786  787
  789  790  791  793  794  795  796  797  798  800  802  803  804  805
  807  808  809  812  813  814  815  816  817  818  819  821  822  823
  825  826  828  829  831  832  837  838  839  840  842  843  844  845
  846  847  848  849  850  851  852  853  854  855  856  857  858  859
  860  861  862  864  866  867  868  869  870  871  872  873  874  875
  876  877  878  879  880  881  882  885  886  888  889  891  892  893
  894  895  897  898  899  900  901  902  903  904  905  906  907  908
  909  910  911  912  913  915  916  917  918  919  920  921  924  925
  926  927  930  931  933  934  936  937  939  940  941  942  943  944
  945  946  947  948  949  950  951  953  955  956  957  959  960  961
  964  965  966  967  969  970  971  972  973  974  975  976  977  978
  979  980  981  982  983  984  986  987  988  989  991  992  994  995
  996  997  998 1000]
+ valid_idx: [  11   12   15   18   19   22   38   42   43   46   50   51   57   61
   68   74   75   83   89   92   93   94  100  104  113  114  116  117
  124  126  142  149  153  154  163  167  175  176  177  178  179  182
  188  195  203  222  223  236  245  248  257  263  264  268  271  272
  278  284  285  287  304  320  324  329  335  336  338  340  341  349
  353  354  356  360  367  368  369  375  383  390  393  395  396  399
  407  409  412  416  417  426  431  433  434  443  444  446  447  456
  457  470  473  483  487  497  507  512  516  518  525  531  533  537
  538  539  545  551  558  568  569  570  584  587  588  593  595  599
  604  613  617  620  622  629  634  636  649  655  660  667  668  669
  675  677  678  684  695  696  703  712  717  732  745  750  756  758
  760  773  781  783  788  792  799  801  806  810  811  820  824  827
  830  833  834  835  836  841  863  865  883  884  887  890  896  914
  922  923  928  929  932  935  938  952  954  958  962  963  968  985
  990  993  999 1001]
+ train / valid: [  11   12   15   18   19   22   38   42   43   46   50   51   57   61
   68   74   75   83   89   92   93   94  100  104  113  114  116  117
  124  126  142  149  153  154  163  167  175  176  177  178  179  182
  188  195  203  222  223  236  245  248  257  263  264  268  271  272
  278  284  285  287  304  320  324  329  335  336  338  340  341  349
  353  354  356  360  367  368  369  375  383  390  393  395  396  399
  407  409  412  416  417  426  431  433  434  443  444  446  447  456
  457  470  473  483  487  497  507  512  516  518  525  531  533  537
  538  539  545  551  558  568  569  570  584  587  588  593  595  599
  604  613  617  620  622  629  634  636  649  655  660  667  668  669
  675  677  678  684  695  696  703  712  717  732  745  750  756  758
  760  773  781  783  788  792  799  801  806  810  811  820  824  827
  830  833  834  835  836  841  863  865  883  884  887  890  896  914
  922  923  928  929  932  935  938  952  954  958  962  963  968  985
  990  993  999 1001]
Fold 3:
+ train_idx: [   0    1    2    3    4    5    6    7    9   10   11   12   13   14
   15   18   19   20   21   22   23   24   25   27   28   29   30   31
   32   33   34   35   38   39   40   41   42   43   44   46   47   49
   50   51   52   54   55   56   57   58   59   60   61   62   63   64
   65   66   67   68   69   70   71   72   73   74   75   76   77   78
   79   80   81   82   83   84   85   86   87   88   89   90   91   92
   93   94   95   96   97   98   99  100  101  102  104  105  106  107
  108  109  110  113  114  116  117  118  120  121  124  125  126  128
  130  131  132  133  134  135  136  137  138  139  140  141  142  144
  145  148  149  153  154  155  156  158  159  160  161  163  164  165
  166  167  168  169  170  172  173  174  175  176  177  178  179  181
  182  184  185  187  188  189  191  192  193  195  196  198  199  200
  201  203  204  205  206  208  209  210  211  212  213  214  215  216
  217  218  220  221  222  223  227  228  230  231  234  235  236  237
  238  239  240  241  242  243  244  245  247  248  249  250  251  252
  254  256  257  259  260  261  263  264  265  266  268  269  270  271
  272  273  274  275  276  277  278  280  281  284  285  286  287  288
  289  290  291  292  294  295  296  298  299  300  302  304  305  306
  307  308  309  310  311  312  313  314  315  316  318  319  320  321
  323  324  326  327  328  329  330  331  332  333  334  335  336  337
  338  339  340  341  342  343  344  345  346  349  350  351  352  353
  354  355  356  357  359  360  361  362  363  365  366  367  368  369
  370  371  372  375  377  378  379  380  381  382  383  385  387  388
  389  390  391  392  393  394  395  396  397  398  399  401  404  405
  406  407  408  409  411  412  413  416  417  418  420  422  423  424
  425  426  427  428  429  430  431  432  433  434  435  436  439  440

In [16]:
object_cols_test=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['category_columns']
numeric_cols_test=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['numeric_columns']
for column in outliers_list:
    data_test = remove_outliers_iqr(data_test, column)
data_test['collision_type'].replace('?',np.nan,inplace=True)
data_test['collision_type'].fillna(method='ffill',inplace=True)
data_test[['property_damage','police_report_available']].replace('?','Unknow',inplace=True)
(data_test=='?').sum()
label_encoders = {}
for column in object_cols_test:
    label_encoder = LabelEncoder()
    data_test[column] = label_encoder.fit_transform(data_test[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = MinMaxScaler()
data_test[numeric_cols_test] = scaler.fit_transform(data_test[numeric_cols_test])

x_test=data_test.drop('fraud_reported',axis=1)
y_test=data_test['fraud_reported']
data_test.to_excel(f'{save_dir}/df_test_minmax.xlsx', index=False)
x_test.to_excel(f'{save_dir}/x_test.xlsx', index=False)
y_test.to_excel(f'{save_dir}/y_test.xlsx', index=False)