In [1]:
import os, sys
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')
import warnings
warnings.filterwarnings('ignore')

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.go_offline()
from pandas_profiling import ProfileReport

from sklearn.model_selection import train_test_split
from sklearn.utils.class_weight import compute_class_weight
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder,StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, ModelCheckpoint, LearningRateScheduler
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.feature_selection import RFE

from numpy import set_printoptions
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, KFold

from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB

# 3. Tiền xử lí dữ liệu

In [2]:
exps_dir = "../../exps"
if os.path.exists(exps_dir) == False: # tạo thư mục (nếu chưa có)
  os.makedirs(exps_dir, exist_ok=True)

save_dir = f"{exps_dir}/feature1"
os.makedirs(save_dir, exist_ok=True)
test_size=0.33
seed=42

In [3]:
test_size=0.33
seed=42
data=pd.read_excel(f'{exps_dir}/data/data_EDA.xlsx')
data

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date,week_incident_date,high_week,high_hour
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Y,17,10,2014,25,1,2015,4,Y,N
1,Y,Middle,IN,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,...,Y,27,6,2006,21,1,2015,4,Y,N
2,Y,Middle,OH,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,...,N,6,9,2000,22,2,2015,8,N,N
3,Y,Middle,IL,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,...,Y,25,5,1990,10,1,2015,2,N,N
4,Y,Middle,IL,500/1000,1000,1583.91,6000000,MALE,Associate,sales,...,N,6,6,2014,17,2,2015,8,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,N,Middle,OH,500/1000,1000,1310.80,0,FEMALE,Masters,craft-repair,...,N,16,7,1991,22,2,2015,8,N,N
996,Y,Middle,IL,100/300,1000,1436.79,0,FEMALE,PhD,prof-specialty,...,N,5,1,2014,24,1,2015,4,Y,N
997,Y,Middle,OH,250/500,500,1383.49,3000000,FEMALE,Masters,armed-forces,...,N,17,2,2003,23,1,2015,4,Y,N
998,Y,Old,IL,500/1000,2000,1356.92,5000000,MALE,Associate,handlers-cleaners,...,N,18,11,2011,26,2,2015,9,N,Y
999,Y,Old,OH,250/500,1000,766.19,0,FEMALE,Associate,sales,...,N,11,11,1996,26,2,2015,9,N,Y

In [4]:
data_train, data_test = train_test_split(data, test_size = 0.33, random_state=seed)
print(data_train.shape,data_test.shape)
data_train.to_excel(f'{exps_dir}/data/datatrain.xlsx', index=None)
data_test.to_excel(f'{exps_dir}/data/datatest.xlsx', index=None)

(670, 43) (330, 43)

In [5]:
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date,week_incident_date,high_week,high_hour
703,Y,Middle,IL,250/500,1000,817.28,0,MALE,High School,sales,...,Y,21,6,1994,3,1,2015,1,N,N
311,N,Young,IN,100/300,2000,765.64,0,MALE,MD,sales,...,Y,11,6,2008,16,2,2015,8,N,N
722,Y,Middle,OH,100/300,2000,1422.21,0,FEMALE,Associate,handlers-cleaners,...,Y,29,7,1996,16,1,2015,3,Y,N
629,Y,Middle,IL,100/300,2000,1133.27,0,FEMALE,High School,craft-repair,...,Y,28,5,2014,1,3,2015,9,N,N
0,Y,Middle,OH,250/500,1000,1406.91,0,MALE,MD,craft-repair,...,Y,17,10,2014,25,1,2015,4,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Y,Old,OH,500/1000,1000,1125.37,0,FEMALE,Associate,prof-specialty,...,Y,7,10,1990,13,1,2015,3,Y,Y
270,Y,Old,OH,250/500,2000,1589.54,0,MALE,College,handlers-cleaners,...,N,15,4,2013,27,1,2015,5,Y,Y
860,Y,Middle,IN,100/300,1000,1023.11,0,FEMALE,MD,adm-clerical,...,N,16,11,2004,6,2,2015,6,Y,N
435,N,Middle,OH,250/500,500,1075.41,0,MALE,MD,machine-op-inspct,...,N,29,8,1999,15,2,2015,7,Y,Y
102,Y,Middle,IL,250/500,500,1497.35,0,FEMALE,JD,prof-specialty,...,N,6,6,2001,29,1,2015,5,Y,Y

In [6]:
numeric_columns=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['numeric_columns']
numeric_columns

array(['policy_annual_premium', 'capital-gains', 'capital-loss',
       'total_claim_amount', 'injury_claim', 'property_claim',
       'vehicle_claim', 'day_policy_bind_date', 'month_policy_bind_date',
       'year_policy_bind_date', 'day_incident_date',
       'month_incident_date', 'year_incident_date', 'week_incident_date'],
      dtype='<U22')

In [7]:
category_columns=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['category_columns']
category_columns

array(['months_as_customer', 'age', 'policy_state', 'policy_csl',
       'policy_deductable', 'umbrella_limit', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage',
       'bodily_injuries', 'witnesses', 'police_report_available',
       'auto_make', 'auto_model', 'auto_year', 'fraud_reported',
       'high_week', 'high_hour'], dtype='<U27')

In [8]:
(data_train=='?').sum()

months_as_customer               0
age                              0
policy_state                     0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_type                    0
collision_type                 115
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                241
bodily_injuries                  0
witnesses                        0
police_report_available        210
total_claim_amount               0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
day_policy_bind_date             0
month_policy_bind_date           0
year_policy_bind_date            0
day_incident_date                0
month_incident_date              0
year_incident_date               0
week_incident_date               0
high_week                        0
high_hour                        0
dtype: int64

In [9]:
data_train['collision_type']=data_train['collision_type'].replace('?',np.nan)
data_train['collision_type'].fillna(method='ffill',inplace=True)
data_train[['property_damage','police_report_available']]=data_train[['property_damage','police_report_available']].replace('?','N')
(data_train=='?').sum()

months_as_customer             0
age                            0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
day_policy_bind_date           0
month_policy_bind_date         0
year_policy_bind_date          0
day_incident_date              0
month_incident_date            0
year_incident_date             0
week_incident_date             0
high_week                      0
high_hour                      0
dtype: int64

# 4.Chuẩn hóa dữ liệu

In [10]:
label_encoders = {}
for column in category_columns:
    label_encoder = LabelEncoder()
    data_train[column] = label_encoder.fit_transform(data_train[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = StandardScaler()
data_train[numeric_columns] = scaler.fit_transform(data_train[numeric_columns])
data_train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,fraud_reported,day_policy_bind_date,month_policy_bind_date,year_policy_bind_date,day_incident_date,month_incident_date,year_incident_date,week_incident_date,high_week,high_hour
703,2,0,0,1,1,-1.770734,0,1,2,11,...,1,0.579574,-0.179439,-1.020460,-1.393943,-0.947412,0.0,-1.705084,0,0
311,0,2,1,0,2,-1.979562,0,1,4,11,...,1,-0.547936,-0.179439,0.908584,0.115223,0.953085,0.0,1.136723,0,0
722,2,0,2,0,2,0.675544,0,0,0,5,...,1,1.481582,0.108179,-0.744883,0.115223,-0.947412,0.0,-0.893139,1,0
629,2,0,0,0,2,-0.492901,0,0,2,2,...,1,1.368831,-0.467057,1.735317,-1.626123,2.853582,0.0,1.542695,0,0
0,2,0,2,1,1,0.613672,0,1,4,2,...,1,0.128570,0.971032,1.735317,1.160031,-0.947412,0.0,-0.487167,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2,1,2,2,1,-0.524848,0,0,0,9,...,1,-0.998940,0.971032,-1.571616,-0.233046,-0.947412,0.0,-0.893139,1,1
270,2,1,2,1,2,1.352210,0,1,1,5,...,0,-0.096932,-0.754675,1.597528,1.392211,-0.947412,0.0,-0.081194,1,1
860,2,0,1,0,1,-0.938378,0,0,4,0,...,0,0.015819,1.258650,0.357428,-1.045674,0.953085,0.0,0.324778,1,0
435,0,0,2,1,0,-0.726882,0,1,4,6,...,0,1.481582,0.395797,-0.331516,-0.000866,0.953085,0.0,0.730750,1,1
102,2,0,0,1,0,0.979403,0,0,3,9,...,0,-1.111691,-0.179439,-0.055938,1.624390,-0.947412,0.0,-0.081194,1,1

In [11]:
x_train=data_train.drop('fraud_reported',axis=1)
y_train=data_train['fraud_reported']

In [12]:
from imblearn.over_sampling import SMOTE
x_train, y_train = SMOTE().fit_resample(x_train, y_train)
x_train.to_excel(f'{save_dir}/x_train.xlsx', index=False)
y_train.to_excel(f'{save_dir}/y_train.xlsx', index=False)

In [13]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights_dict = {i : class_weights[i] for i in range(len(class_weights))}
np.savez(f'{save_dir}/class_weights_dict.npz', class_weights_dict = class_weights_dict)
class_weights_dict

{0: 1.0, 1: 1.0}

In [14]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
print(f"+ X_train: {len(x_train)}")
for fold, (train_idx, valid_idx) in enumerate(kfold.split(x_train, y_train)):
    print(f'Fold {fold}: ')
    print(f'+ train_idx: {train_idx}')
    print(f'+ valid_idx: {valid_idx}')
    print(f'+ train / valid: {valid_idx}')
    pass

+ X_train: 1022
Fold 0:
+ train_idx: [   0    1    2    4    5    6    7    8    9   11   12   13   14   15
   16   17   18   19   20   21   22   24   26   27   28   29   32   33
   34   35   36   37   38   40   41   42   43   45   46   47   48   49
   50   51   52   53   56   57   58   61   62   64   65   68   69   71
   73   74   75   77   78   79   80   81   82   83   84   85   87   89
   90   91   92   93   94   95   97   98   99  102  103  104  105  106
  108  111  112  113  114  115  116  117  118  119  121  122  123  124
  125  126  127  128  129  130  131  132  133  134  135  137  138  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  159  160  161  162  163  164  165  166  167  169  170
  171  172  173  175  176  177  178  179  180  181  182  183  185  186
  187  188  189  190  191  192  193  194  195  196  197  200  201  202
  203  204  205  206  207  211  212  214  216  217  219  220  221  222
  223  224  225  226  227  228  229  230  232  233  234  235  236  238
  239  240  241  242  243  245  246  247  248  249  250  251  252  253
  255  257  258  261  262  263  264  265  266  267  268  269  270  271
  272  273  274  276  277  278  279  281  282  283  284  285  287  288
  291  292  293  295  297  300  301  302  303  304  305  306  308  309
  311  313  315  316  317  320  321  322  323  324  325  326  330  333
  334  335  336  337  338  339  340  341  343  345  347  348  349  351
  353  354  355  356  357  358  359  360  362  363  364  366  367  368
  369  370  371  372  373  374  375  376  378  379  380  381  382  383
  384  385  386  387  388  389  390  391  392  393  395  396  397  399
  400  401  402  403  404  405  406  407  408  409  410  411  412  413
  414  415  416  417  418  419  420  421  422  423  424  426  427  430
  431  432  433  434  435  437  438  439  441  442  443  444  445  446
  448  449  450  452  453  454  455  456  457  458  459  460  461  462
  463  465  466  467  469  470  471  472  473  474  475  476  477  480
  483  484  486  487  488  489  491  492  495  496  498  500  502  503
  504  505  506  508  509  510  511  512  514  515  516  517  519  520
  521  523  524  526  527  528  530  531  532  533  535  537  538  540
  543  544  545  546  548  549  550  553  554  555  556  557  558  560
  561  562  563  564  565  566  568  569  571  573  574  575  576  577
  578  579  580  581  582  584  586  587  588  589  592  593  594  595
  596  597  598  600  601  602  604  606  607  608  609  610  612  614
  615  618  619  621  622  623  624  626  627  628  631  632  633  634
  635  636  637  638  639  640  641  642  643  644  645  646  647  648
  650  651  653  654  656  657  658  659  661  663  665  669  670  671
  672  673  674  676  677  678  679  680  681  682  683  684  685  686
  688  690  691  692  696  697  698  699  700  701  702  704  707  709
  710  713  715  716  718  719  720  722  723  724  725  726  727  729
  731  732  733  734  735  736  737  738  739  740  742  743  744  745
  746  747  748  749  750  751  752  753  756  757  759  760  761  762
  763  765  766  767  768  769  770  771  772  773  774  775  776  777
  778  779  781  782  783  785  786  787  790  791  792  793  794  795
  797  798  799  800  801  802  803  804  805  806  807  808  809  810
  812  813  814  815  816  817  818  819  820  821  822  823  824  825
  826  827  830  831  832  833  834  836  837  838  839  840  841  845
  846  848  849  850  851  852  856  858  859  860  861  862  863  864
  865  866  868  869  870  871  872  873  874  875  876  877  878  879
  881  882  883  884  886  887  888  890  891  893  894  896  897  898
  899  900  902  903  905  906  907  908  909  910  911  912  913  914
  915  916  918  921  922  923  924  926  927  928  929  930  931  933
  934  935  936  937  938  939  940  941  943  944  945  946  947  949
  950  951  952  953  955  956  957  958  959  961  962  963  964  965
  966  968  969  970  972  973  974  975  976  977  978  979  980  982
  983  984  985  986  987  988  989  990  991  993  994  995  997  998
  999 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015
 1016 1018 1019 1020 1021]
+ valid_idx: [   3   10   23   25   30   31   39   44   54   55   59   60   63   66
   67   70   72   76   86   88   96  100  101  107  109  110  120  136
  139  158  168  174  184  198  199  208  209  210  213  215  218  231
  237  244  254  256  259  260  275  280  286  289  290  294  296  298
  299  307  310  312  314  318  319  327  328  329  331  332  342  344
  346  350  352  361  365  377  394  398  425  428  429  436  440  447
  451  464  468  478  479  481  482  485  490  493  494  497  499  501
  507  513  518  522  525  529  534  536  539  541  542  547  551  552
  559  567  570  572  583  585  590  591  599  603  605  611  613  616
  617  620  625  629  630  649  652  655  660  662  664  666  667  668
  675  687  689  693  694  695  703  705  706  708  711  712  714  717
  721  728  730  741  754  755  758  764  780  784  788  789  796  811
  828  829  835  842  843  844  847  853  854  855  857  867  880  885
  889  892  895  901  904  917  919  920  925  932  942  948  954  960
  967  971  981  992  996 1000 1001 1007 1017]
+ train / valid: [   3   10   23   25   30   31   39   44   54   55   59   60   63   66
   67   70   72   76   86   88   96  100  101  107  109  110  120  136
  139  158  168  174  184  198  199  208  209  210  213  215  218  231
  237  244  254  256  259  260  275  280  286  289  290  294  296  298
  299  307  310  312  314  318  319  327  328  329  331  332  342  344
  346  350  352  361  365  377  394  398  425  428  429  436  440  447
  451  464  468  478  479  481  482  485  490  493  494  497  499  501
  507  513  518  522  525  529  534  536  539  541  542  547  551  552
  559  567  570  572  583  585  590  591  599  603  605  611  613  616
  617  620  625  629  630  649  652  655  660  662  664  666  667  668
  675  687  689  693  694  695  703  705  706  708  711  712  714  717
  721  728  730  741  754  755  758  764  780  784  788  789  796  811
  828  829  835  842  843  844  847  853  854  855  857  867  880  885
  889  892  895  901  904  917  919  920  925  932  942  948  954  960
  967  971  981  992  996 1000 1001 1007 1017]
Fold 1:
+ train_idx: [   1    3    4    8   10   11   12   13   14   15   16   17   18   19
   20   21   22   23   24   25   26   27   30   31   32   34   35   36
   37   38   39   40   41   42   44   45   46   47   48   50   51   52
   53   54   55   56   57   58   59   60   61   62   63   64   66   67
   68   70   71   72   74   75   76   80   83   85   86   87   88   89
   91   92   93   94   95   96   98   99  100  101  102  103  104  105
  106  107  108  109  110  111  112  113  114  115  116  117  119  120
  121  122  123  124  126  127  128  129  130  132  134  136  138  139
  142  143  146  147  149  150  151  152  153  154  156  157  158  159
  160  161  162  163  166  167  168  170  171  174  175  176  179  180
  182  183  184  185  186  187  188  189  190  191  194  195  197  198
  199  200  201  202  203  205  206  207  208  209  210  213  214  215
  216  217  218  219  222  223  224  225  226  229  230  231  232  233
  236  237  240  241  242  243  244  245  246  248  251  252  253  254
  255  256  257  258  259  260  262  263  264  267  268  269  270  271
  272  273  275  276  278  279  280  282  283  284  285  286  287  288
  289  290  293  294  295  296  297  298  299  301  303  304  307  308
  310  312  313  314  315  317  318  319  320  322  324  325  327  328
  329  330  331  332  335  336  337  338  339  340  341  342  343  344
  345  346  347  348  349  350  352  353  354  356  358  360  361  364
  365  366  367  368  369  372  373  374  375  376  377  378  379  383
  384  385  386  387  389  390  391  392  393  394  395  396  397  398
  399  400  401  402  403  406  407  409  410  412  413  414  415  416
  417  418  419  421  425  426  427  428  429  430  431  434  435  436
  437  438  440  441  442  443  446  447  451  452  454  455  456  457
  458  459  460  461  462  463  464  465  466  467  468  469  470  471
  472  473  474  475  476  478  479  480  481  482  483  484  485  487
  488  489  490  491  492  493  494  496  497  498  499  500  501  502
  503  504  505  507  508  509  510  511  512  513  515  516  517  518
  520  521  522  524  525  528  529  530  533  534  536  537  538  539
  540  541  542  544  546  547  550  551  552  553  555  556  558  559
  560  561  562  563  564  565  566  567  569  570  571  572  573  574
  576  577  578  579  582  583  584  585  586  587  590  591  592  595
  598  599  600  601  603  604  605  606  607  608  609  610  611  612
  613  614  616  617  618  619  620  621  623  624  625  626  627  628
  629  630  631  632  634  636  637  638  639  640  641  642  643  644
  645  646  647  648  649  650  651  652  654  655  658  659  660  661
  662  663  664  666  667  668  670  671  672  673  674  675  676  677
  678  681  682  683  685  686  687  688  689  690  691  692  693  694
  695  697  698  699  700  701  702  703  704  705  706  707  708  709
  710  711  712  714  715  716  717  718  719  720  721  722  724  725
  726  727  728  729  730  732  733  735  736  737  738  739  740  741
  742  744  747  748  749  750  751  752  753  754  755  756  758  759
  760  761  762  763  764  765  766  767  768  769  771  772  773  775
  776  777  778  779  780  781  782  784  785  787  788  789  790  791
  793  794  795  796  797  798  799  801  802  803  804  805  807  808
  810  811  812  815  816  817  818  819  820  821  822  824  825  826
  827  828  829  831  832  835  836  837  838  839  840  841  842  843
  844  846  847  848  851  852  853  854  855  856  857  858  860  861
  862  863  864  865  866  867  868  869  870  871  872  873  875  876
  877  878  879  880  881  882  884  885  887  889  892  893  895  896
  897  898  900  901  902  903  904  905  906  907  908  909  912  914
  915  916  917  919  920  923  924  925  926  927  928  929  930  931
  932  933  935  937  938  939  940  941  942  945  946  947  948  949
  950  951  952  954  955  956  957  959  960  961  963  964  967  968
  969  970  971  972  973  974  975  976  979  980  981  982  984  985
  986  987  988  989  990  991  992  993  994  995  996  998  999 1000
 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1012 1013 1014 1015
 1017 1018 1019 1020 1021]
+ valid_idx: [   0    2    5    6    7    9   28   29   33   43   49   65   69   73
   77   78   79   81   82   84   90   97  118  125  131  133  135  137
  140  141  144  145  148  155  164  165  169  172  173  177  178  181
  192  193  196  204  211  212  220  221  227  228  234  235  238  239
  247  249  250  261  265  266  274  277  281  291  292  300  302  305
  306  309  311  316  321  323  326  333  334  351  355  357  359  362
  363  370  371  380  381  382  388  404  405  408  411  420  422  423
  424  432  433  439  444  445  448  449  450  453  477  486  495  506
  514  519  523  526  527  531  532  535  543  545  548  549  554  557
  568  575  580  581  588  589  593  594  596  597  602  615  622  633
  635  653  656  657  665  669  679  680  684  696  713  723  731  734
  743  745  746  757  770  774  783  786  792  800  806  809  813  814
  823  830  833  834  845  849  850  859  874  883  886  888  890  891
  894  899  910  911  913  918  921  922  934  936  943  944  953  958
  962  965  966  977  978  983  997 1011 1016]
+ train / valid: [   0    2    5    6    7    9   28   29   33   43   49   65   69   73
   77   78   79   81   82   84   90   97  118  125  131  133  135  137
  140  141  144  145  148  155  164  165  169  172  173  177  178  181
  192  193  196  204  211  212  220  221  227  228  234  235  238  239
  247  249  250  261  265  266  274  277  281  291  292  300  302  305
  306  309  311  316  321  323  326  333  334  351  355  357  359  362
  363  370  371  380  381  382  388  404  405  408  411  420  422  423
  424  432  433  439  444  445  448  449  450  453  477  486  495  506
  514  519  523  526  527  531  532  535  543  545  548  549  554  557
  568  575  580  581  588  589  593  594  596  597  602  615  622  633
  635  653  656  657  665  669  679  680  684  696  713  723  731  734
  743  745  746  757  770  774  783  786  792  800  806  809  813  814
  823  830  833  834  845  849  850  859  874  883  886  888  890  891
  894  899  910  911  913  918  921  922  934  936  943  944  953  958
  962  965  966  977  978  983  997 1011 1016]
Fold 2:
+ train_idx: [   0    1    2    3    4    5    6    7    8    9   10   13   14   16
   17   20   21   23   25   26   27   28   29   30   31   32   33   34
   35   36   37   39   40   43   44   45   47   48   49   52   53   54
   55   58   59   60   62   63   64   65   66   67   69   70   71   72
   73   76   77   78   79   80   81   82   84   85   86   87   88   90
   91   95   96   97   98   99  100  101  102  103  105  106  107  109
  110  111  112  115  118  119  120  121  122  123  125  127  128  129
  130  131  133  134  135  136  137  138  139  140  141  143  144  145
  146  147  148  150  151  152  155  156  157  158  159  160  161  162
  164  165  166  168  169  170  171  172  173  174  177  178  180  181
  183  184  186  187  189  190  191  192  193  194  196  197  198  199
  200  201  202  204  205  206  207  208  209  210  211  212  213  214
  215  216  217  218  219  220  221  224  225  226  227  228  229  230
  231  232  233  234  235  237  238  239  240  241  242  243  244  246
  247  249  250  251  252  253  254  255  256  258  259  260  261  262
  265  266  267  269  270  273  274  275  276  277  279  280  281  282
  283  286  288  289  290  291  292  293  294  295  296  297  298  299
  300  301  302  303  305  306  307  308  309  310  311  312  313  314
  315  316  317  318  319  321  322  323  325  326  327  328  329  330
  331  332  333  334  337  339  342  343  344  345  346  347  348  350
  351  352  355  357  358  359  361  362  363  364  365  366  370  371
  372  373  374  376  377  378  379  380  381  382  384  385  386  387
  388  389  391  392  394  397  398  400  401  402  403  404  405  406
  408  410  411  413  414  415  418  419  420  421  422  423  424  425
  427  428  429  432  433  435  436  437  438  439  440  441  444  445
  447  448  449  450  451  452  453  454  455  458  459  460  461  463
  464  466  468  469  471  472  474  475  476  477  478  479  480  481
  482  484  485  486  488  489  490  491  492  493  494  495  496  497
  498  499  501  502  503  504  505  506  507  508  509  510  511  513
  514  515  517  518  519  520  522  523  524  525  526  527  529  531
  532  534  535  536  539  540  541  542  543  545  546  547  548  549
  550  551  552  553  554  555  556  557  559  560  561  562  563  564
  565  566  567  568  569  570  571  572  573  574  575  577  579  580
  581  583  585  586  588  589  590  591  592  593  594  596  597  599
  600  602  603  605  606  607  608  609  610  611  612  613  614  615
  616  617  619  620  622  623  624  625  627  629  630  632  633  635
  637  639  640  641  642  645  646  647  648  649  651  652  653  654
  655  656  657  658  659  660  661  662  663  664  665  666  667  668
  669  670  671  672  673  674  675  676  677  679  680  681  683  684
  686  687  689  690  691  693  694  695  696  697  698  699  700  701
  702  703  704  705  706  708  709  710  711  712  713  714  716  717
  718  719  720  721  723  724  725  726  727  728  729  730  731  733
  734  735  736  737  738  740  741  742  743  744  745  746  747  748
  751  754  755  756  757  758  759  760  761  763  764  766  767  768
  769  770  771  772  774  775  776  777  779  780  782  783  784  785
  786  787  788  789  791  792  793  794  795  796  797  798  799  800
  801  802  804  805  806  808  809  810  811  812  813  814  815  818
  821  823  824  825  828  829  830  831  832  833  834  835  837  838
  839  840  842  843  844  845  847  848  849  850  853  854  855  856
  857  858  859  860  861  862  864  865  866  867  868  869  870  871
  872  873  874  875  877  878  880  882  883  885  886  887  888  889
  890  891  892  893  894  895  896  897  898  899  901  902  904  905
  907  908  910  911  912  913  914  915  916  917  918  919  920  921
  922  923  924  925  926  927  928  931  932  933  934  935  936  937
  938  942  943  944  947  948  950  951  953  954  955  956  957  958
  960  962  963  964  965  966  967  969  970  971  973  974  975  976
  977  978  979  980  981  983  984  986  987  989  990  991  992  993
  994  995  996  997  998  999 1000 1001 1002 1003 1004 1006 1007 1009
 1011 1014 1016 1017 1018 1019]
+ valid_idx: [  11   12   15   18   19   22   24   38   41   42   46   50   51   56
   57   61   68   74   75   83   89   92   93   94  104  108  113  114
  116  117  124  126  132  142  149  153  154  163  167  175  176  179
  182  185  188  195  203  222  223  236  245  248  257  263  264  268
  271  272  278  284  285  287  304  320  324  335  336  338  340  341
  349  353  354  356  360  367  368  369  375  383  390  393  395  396
  399  407  409  412  416  417  426  430  431  434  442  443  446  456
  457  462  465  467  470  473  483  487  500  512  516  521  528  530
  533  537  538  544  558  576  578  582  584  587  595  598  601  604
  618  621  626  628  631  634  636  638  643  644  650  678  682  685
  688  692  707  715  722  732  739  749  750  752  753  762  765  773
  778  781  790  803  807  816  817  819  820  822  826  827  836  841
  846  851  852  863  876  879  881  884  900  903  906  909  929  930
  939  940  941  945  946  949  952  959  961  968  972  982  985  988
 1005 1008 1010 1012 1013 1015 1020 1021]
+ train / valid: [  11   12   15   18   19   22   24   38   41   42   46   50   51   56
   57   61   68   74   75   83   89   92   93   94  104  108  113  114
  116  117  124  126  132  142  149  153  154  163  167  175  176  179
  182  185  188  195  203  222  223  236  245  248  257  263  264  268
  271  272  278  284  285  287  304  320  324  335  336  338  340  341
  349  353  354  356  360  367  368  369  375  383  390  393  395  396
  399  407  409  412  416  417  426  430  431  434  442  443  446  456
  457  462  465  467  470  473  483  487  500  512  516  521  528  530
  533  537  538  544  558  576  578  582  584  587  595  598  601  604
  618  621  626  628  631  634  636  638  643  644  650  678  682  685
  688  692  707  715  722  732  739  749  750  752  753  762  765  773
  778  781  790  803  807  816  817  819  820  822  826  827  836  841
  846  851  852  863  876  879  881  884  900  903  906  909  929  930
  939  940  941  945  946  949  952  959  961  968  972  982  985  988
 1005 1008 1010 1012 1013 1015 1020 1021]
Fold 3:
+ train_idx: [   0    1    2    3    4    5    6    7    9   10   11   12   13   14
   15   18   19   20   21   22   23   24   25   27   28   29   30   31
   32   33   34   35   38   39   40   41   42   43   44   46   47   49
   50   51   52   54   55   56   57   58   59   60   61   62   63   64
   65   66   67   68   69   70   71   72   73   74   75   76   77   78
   79   80   81   82   83   84   85   86   87   88   89   90   91   92
   93   94   95   96   97   98   99  100  101  102  104  105  106  107
  108  109  110  113  114  116  117  118  120  121  124  125  126  128
  130  131  132  133  134  135  136  137  138  139  140  141  142  144
  145  148  149  153  154  155  156  158  159  160  161  163  164  165
  166  167  168  169  170  172  173  174  175  176  177  178  179  181
  182  184  185  187  188  189  191  192  193  195  196  198  199  200
  201  203  204  205  206  208  209  210  211  212  213  214  215  216
  217  218  220  221  222  223  227  228  230  231  234  235  236  237
  238  239  240  241  242  243  244  245  247  248  249  250  251  252

In [15]:
object_cols_test=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['category_columns']
numeric_cols_test=dict(np.load(f'{exps_dir}/data/columns_dtype.npz',allow_pickle=True))['numeric_columns']
#for column in outliers_list:
#    data_test = remove_outliers_iqr(data_test, column)
data_test['collision_type'].replace('?',np.nan,inplace=True)
data_test['collision_type'].fillna(method='ffill',inplace=True)
data_test[['property_damage','police_report_available']].replace('?','Unknow',inplace=True)
(data_test=='?').sum()
label_encoders = {}
for column in object_cols_test:
    label_encoder = LabelEncoder()
    data_test[column] = label_encoder.fit_transform(data_test[column])
    label_encoders[column] = label_encoder  # Lưu trữ label encoder nếu cần sau này

scaler = StandardScaler()
data_test[numeric_cols_test] = scaler.fit_transform(data_test[numeric_cols_test])

x_test=data_test.drop('fraud_reported',axis=1)
y_test=data_test['fraud_reported']
data_test.to_excel(f'{save_dir}/df_test_minmax.xlsx', index=False)
x_test.to_excel(f'{save_dir}/x_test.xlsx', index=False)
y_test.to_excel(f'{save_dir}/y_test.xlsx', index=False)